/********************************************** TAG SELECTOR **********************************************************/

body {
    background-color : #EAF6F6;
}

h1,h3 {
    color : #66BFBF;
}

hr {
    border-color : grey;
    border-style: dotted none none;
    border-width : 5px;
    width : 5%;
}

/********************************************** CLASS SELECTOR ********************************************************/


/********************************************** ID SELECTOR ***********************************************************/

#profile_pic {
border-radius : 100%;
}